version: '3.8'
services:

  server:
    image: akashmondal0/next-quiz-server:latest
    ports:
      - "5000:5000"
    networks:
      - monitoring
    env_file:
      - .env
    restart: unless-stopped

networks:
  monitoring:
    driver: bridge