version: '3.8'
services:

  server:
    image: akashmondal0/next-quiz-server:latest
    ports:
      - "5000:5000"
    networks:
      - monitoring
    env_file:
      - .env
    restart: unless-stopped

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - server
    restart: unless-stopped
    networks:
      - monitoring
      -
networks:
  monitoring:
    driver: bridge