version: '3.8'
services:

  server:
    image: akashmondal0/next-stream-server:latest
    ports:
      - "4000:4000"
    networks:
      - monitoring
    env_file:
      - .env2
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./jobs:/app/jobs
    restart: unless-stopped

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf2:/etc/nginx/nginx.conf:ro
    depends_on:
      - server
    restart: unless-stopped
    networks:
      - monitoring
networks:
  monitoring:
    driver: bridge